/* define fixed values */
:root {
  /* display area */
  --display-w: 310px;
  --display-h: 54px;
  --display-margin-top: 28px;
  --display-margin-bottom: 112px;
  --display-margin-left: 6px;
  --display-margin-right: 12px;
  --display-perspective: 700px;   /* inside keyboard transform */
  --display-rotateX: -32deg;      /* inside keyboard transform */
  --display-color-background: rgba(5,5,5,1);
  --display-color-foreground: rgba(105,235,212,1.0);
  --display-color-shadow: rgba(94,216,196,1.0);
  --display-bluer-size: 4px;
  /* keyboard */
  --keyboard-perspective: 1200px;
  --keyboard-rotateX: 23deg;
  --keyboard-offset-L:  2px;
  --opacity-level-hover: 0.1;
  --opacity-level-active: 0.3;
  --opacity-level-idle: 0.0;      /* when debug, change 0.0 -> 0.5 */
  --opacity-base-colorR: 0;
  --opacity-base-colorG: 0;
  --opacity-base-colorB: 0;
  /* button */
  --button-w: 48px;
  --button-h: 45px;
  --button-wide:                  /* wide button */
    calc((var(--button-margin-w) + var(--button-w) + var(--button-margin-w))*3/2 - (var(--button-margin-w) * 2));
  --button-margin-w: 6px;
  --button-margin-h: 9px;
  --button-margin-wide: 36px;     /* margin between number and operator */
  --letter-spc: 0.15em;
}

@font-face {
  font-family: "VFDigit";
  src: url("./fonts/VFDigit9A.woff2") format("woff2");
}

.page {
  width: 700px;
  height: 800px;
}

.calculator { 
  width: 680px;
  height: 800px;
  border-radius: 10px;
  /* インライン要素を中央に配置 */
  text-align: center;
  /* 余白調整 */
  margin: 20px;
  position: relative;
}
.calculator img {
  height: 100%;
  width: auto;
}

.overTheImage {
  position: absolute;
  top: 0; left: 50%;
  /* transform: translate(-50%, 0); */
  transform: translate(-50%, 0) perspective(var(--keyboard-perspective)) rotateX(var(--keyboard-rotateX));
  width: 700px;
  padding-top: 200px;
  padding-bottom: 100px;
  padding-left: var(--keyboard-offset-L);
  margin-bottom: 10px;
}

/* number display */
textarea {
  white-space: nowrap;
  overflow: hidden;
  resize: none;
}
.display {
  transform: perspective(var(--display-perspective)) rotateX(var(--display-rotateX)) rotate(0.5deg);
  width: var(--display-w);
  height: var(--display-h);
  border: none;
  text-align: right; /* 文字を右詰めに */
  /* 見た目の詳細設定 */
  color: var(--display-color-foreground);
  background: rgba(var(--opacity-base-colorR), var(--opacity-base-colorG), var(--opacity-base-colorB), var(--opacity-level-idle));
  border-radius: 5px;
  margin-top: var(--display-margin-top);
  margin-bottom: var(--display-margin-bottom);
  margin-left: var(--display-margin-left);
  margin-right: var(--display-margin-right);
  padding: 0px 14px 2px 8px;
  font-family: "VFDigit";
  font-size: 46px;
  letter-spacing: var(--letter-spc);
  text-shadow: 0 0 var(--display-bluer-size) var(--display-color-shadow);
}
#display0 {
  position: absolute;
  background: var(--display-color-background);
}

#C, #min, #mul, #pls {
  width: var(--button-wide);
  margin-left: var(--button-margin-wide);
}

#D0, #point {
  width: var(--button-wide);
}

button{
  /* ボタンのサイズ */
  width: var(--button-w);
  height: var(--button-h);
  /* ボタンの文字サイズ */
  font-size: x-large;
  /* 数字部分の背景色 */
  background: rgba(var(--opacity-base-colorR), var(--opacity-base-colorG), var(--opacity-base-colorB), var(--opacity-level-idle));
  /* ボタンの詳細設定 */
  border: none;
  border-radius: 20px;
  /* クリック時の黒枠を消す */
  outline: none;
  margin-left: var(--button-margin-w);
  margin-right: var(--button-margin-w);
  margin-top: var(--button-margin-h);
  margin-bottom: var(--button-margin-h);
}

/* 記号＝の部分の背景色を上書きで設定 */
.equal {
  width: var(--button-w);
}

/* カーソルを上に乗せた時に色を濃くする */
button:hover {
  background: rgba(var(--opacity-base-colorR), var(--opacity-base-colorG), var(--opacity-base-colorB), var(--opacity-level-hover));
}

/* クリック時に色を濃くする */
button:active {
  background: rgba(var(--opacity-base-colorR), var(--opacity-base-colorG), var(--opacity-base-colorB), var(--opacity-level-active));
}

.volume {
  text-align: right;
  width:  680px;
}

.message {
  text-align: left;
}